* {
    box-sizing: border;
    user-select: none;
}

body {
    background-color: #ccc;
    overflow: hidden;
}

.board {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

.cell {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 20px;
    background-color: #ffe;
}

.tile {
    text-align: center;
    line-height: 80px;
    font-size: 40px;
    font-family: sans-serif;
    background-color: #88e;
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius: 10px;
    z-index: 1;
}

.score {
    font-family: sans-serif;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
